/* FILEPATH: /Users/joanacunha/Desktop/MCTW/Dissertação/AstroAR/public/css/style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #fff;
    padding: 0;
    text-align: center;
  
}
.header {
    background-color: #fff;
    color: #fff;
    padding: 10px 0;
    text-align: end ;
}

.nav {
    align-items: end;
    padding-top: 10px;
    margin-bottom: 20px;
}
.nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #555;
}
.header-2 {
    background-color: #0056b3;
    border-radius: 0 0 30px 30px;
    color: #fff;
    padding: 10px;
}/* Adiciona estilos gerais para o conteúdo */
.content {
    display: flex;
    margin-top: 20px; /* Adiciona um espaço no topo */
    padding: 0 10px; /* Adiciona um pouco de preenchimento nos lados para manter a responsividade */
    text-align: left;
    justify-content: center; 
  }
  
  /* Estiliza o link como uma caixa */
  .content a {
    text-decoration: none; /* Remove o sublinhado do link */
    
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra para um efeito 3D leve */
    padding: 20px; /* Adiciona preenchimento dentro da caixa */
    border-radius: 5px; /* Arredonda os cantos da caixa */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra para um efeito 3D leve */
    transition: background-color 0.3s, transform 0.3s; /* Suaviza a mudança de cor e transformação */
    display: inline-block; /* Permite definir largura e centralizar */
    width: 100%; /* Faz a caixa se expandir para preencher o espaço disponível */
    max-width: 800px; /* Define uma largura máxima para a caixa */
  }
  

  /* Estiliza os parágrafos dentro do link */
  .content a p {
    margin: 10px 0; /* Adiciona margem entre os parágrafos */
    font-size: 16px; /* Define o tamanho da fonte */
    text-align: flex-start; /* Centraliza o texto dentro da caixa */
    color: #555; /* Define a cor do texto */
  }
  
  /* Adiciona um destaque para o primeiro parágrafo */
  .content a p:first-child {
    font-weight: bold; /* Faz o texto ser mais grosso */
    font-size: 18px; /* Torna o texto um pouco maior */
    color: #0056b3; /* Define a cor do texto */
  }
  
  /* Media query para telas pequenas */
  @media (max-width: 600px) {
    .content a {
      padding: 15px; /* Ajusta o preenchimento para telas menores */
    }
    
    .content a p {
      font-size: 14px; /* Ajusta o tamanho da fonte para telas menores */
    }
    
    .content a p:first-child {
      font-size: 16px; /* Ajusta o tamanho da fonte do primeiro parágrafo para telas menores */
    }
  }
  
