@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

p, span, i {
  font-family: 'Montserrat', sans-serif;
}


button{
  font-family: 'Montserrat';
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: inherit; /* Opcional, faz o botão herdar a cor do texto do elemento pai */
}
.clickable{
  cursor: pointer;
}
html, body {
  width: 100%;
  height: 100vh;
  overflow: hidden; /* Evita barras de rolagem */
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  overflow-x: hidden; /* Evita a rolagem horizontal */
}




.circle-back {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo preto com 60% de opacidade */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 0.3s;
  position: absolute; /* ou 'fixed' para posição fixa na tela */
  top: 20px; /* Distância do fundo */
  left: 20px; /* Distância da esquerda */
}

.round-button {
  border-color: rgba(255, 255, 255, 0.5);
  border-width: 1px;
  border-radius: 50%;
  border-style: solid; /* Adiciona esta linha para definir o estilo da borda */
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0px;
}


.round-button i {
  font-size: 15px;
  color: white;
}

/* painel das fases da Lua */
.div-com-fundo {
  position: fixed; 
  display: flex;
  flex-direction: column; /* Organizar os itens em coluna */
  justify-content: center; /* Alinhar itens verticalmente ao centro */
  z-index: 1000;
  right: 3%;
  top: 20px; /* Definir a altura da div */
  width: 200px; /* Largura adequada para o conteúdo */
  height: auto; /* Altura automática para ajustar ao conteúdo */
  padding: 10px; /* Adicionar algum padding */
  background-color: rgba(0, 0, 0, 0.4); /* Fundo preto com 40% de opacidade */
  border-radius: 5px;
  background-size: cover; /* Cobrir toda a div */
  background-position: center; /* Centralizar o fundo */
  transition: width 0.3s ease; /* Transição suave para mudança de largura */
  transition: height 0.3s ease; /* Transição suave para mudança de largura */
}

.moonphases-title-hidden{
  display: none;
}

.div-com-fundo.reduced .moonphases-text{
  padding: 11px;
  align-self: center;
}

.div-com-fundo.reduced{
    width: 40px; /* Largura reduzida */
    padding: 5px; /* Menos padding */
    height: auto; /* Mantém a altura automática */
}

.div-com-fundo.reduced .moonphases-title-hidden {
  display: block; /* Mostrar o título */
  color: #ffffff; /* Cor do texto */
  font-size: 16px;
}

.div-com-fundo.reduced .moonphases-title-hidden {
  writing-mode: vertical-rl; /* Define o texto para vertical da direita para a esquerda */
  text-orientation: mixed; /* Permite que o texto seja mostrado corretamente em navegadores compatíveis */
}

.div-com-fundo.reduced .moonphases-space,
.div-com-fundo.reduced .moonphases-title,
.div-com-fundo.reduced .image-container {
  display: none; /* Esconder conteúdo não necessário */
}

.div-com-fundo.reduced .image-mascote {
  visibility: hidden; /* Esconder a imagem do mascote */
  display: none; /* Esconder conteúdo não necessário */
  width: 0;
}

.div-com-fundo.reduced .moonphases {
  width: 100%; /* Ocupa toda a largura do contêiner pai */
  writing-mode: vertical-rl; /* Texto vertical da direita para a esquerda */
  transform: rotate(180deg); /* Rotacionar texto para ler normalmente */
}

.moonphases {
  display: flex; /* Usar flexbox para alinhar o texto e o ícone */
  justify-content: space-between; /* Espaçar elementos ao máximo */
  align-items: flex-start; /* Alinhar itens verticalmente ao centro */
  width: 100%; /* Ocupa toda a largura do contêiner pai */
  margin-bottom: 10px;
}

.moonphases-title {
  font-size: 12px;
  font-weight: 500;
  color:#ffffff;
  margin-block-start: 0px; 
  margin-block-end: 4px;
}

.moonphases-icon {
  cursor:pointer;
  margin-left: 10px; /* Espaço entre o texto e o ícone */
  width: 25px;
}

.image-container {
  position: relative; /* Contêiner relativo para posicionamento absoluto das imagens internas */
  display: flex; /* Usar flexbox para centralização */
  justify-content: center; /* Centralizar horizontalmente */
  width: 100%;
}

#binoculos {
  width: 100%; /* Ocupa 70% da largura do contêiner */
  height: auto; 
}

#moon-phase-image-bright {
  position: absolute; /* Posição absoluta em relação ao contêiner */
  top: 50%; /* Centralizar verticalmente */
  left: 50%; /* Centralizar horizontalmente */
  transform: translate(-50%, -50%); /* Ajuste de centralização */
  width: 40%; 
  height: auto; 
}



/*btn info e onboarding*/
.btns-info {
  position: absolute;
  bottom: 150px;
  flex-direction: column;
  right: 10px;
  display: flex;
  right:20px;
}

.onBoarding-btn,.info-btn {
  width: 40px;
  height: 40px;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.6); /* Background color for the circles */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff; /* Icon color */
  cursor: pointer;
  margin-bottom: 10px; /* Space between the buttons */

  
}



/* Box do Tempo*/

.tab-container {
  display: flex; /* Ativa o flexbox */
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.6); /* Fundo preto com 60% de opacidade */
  border-radius: 5px;
  padding: 15px;
  width: 85%; /* Faz a caixa preencher 80% da largura da tela */
  color: white; /* Cor do texto branco para contraste */
 
  cursor: grab;

}

.header {
  display: flex;
  flex-direction: column;
  overflow: visible;
  width: 100%;
  height: 80%; /* Ajuste conforme necessário */
}



.play-box {
  display: flex;
  flex-direction: column;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.button-box {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
}





.start-animation {
  color: white;
  font-size: 25px; /* Tamanho do ícone */
  cursor: pointer;
  padding: 0px;
}

.current-day{
  color: #fff;
   margin-left: 10px;
}


.time-box {
  color: #fff; /* Texto branco para contraste */
  text-align: center; /* Centraliza o texto */
  margin-bottom: 15px;
}

.day-shift{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  width: 100%;
}


.timeline {
  flex-grow: 1;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
  align-content: center;
}

.week1{
  margin: 0px 0px 0px 23px;
}

.week2{
  margin: 0px 20px 0px 14px;
}
.week3{
  margin: 0px 20px 0px -6px;
}
.week4{
  margin: 0px 10px 0px -6px;
}


.timeline-marker {
  position: absolute;
  left: -14px;
}

.circle{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.3);
  transform: translateY(-50%);
}

.selected .circle{
  background-color: #9D4B6B;
  border: 2px solid #9D4B6B;
}

.older-event .circle{
  border-color: #9D4B6B;
  
}


.week-text{
  font-size: 12px;
  color: white;
  margin: 0px;
  padding: 5px;
}

.filling-line{
  background-color: #9D4B6B;
  height: 2px;
  width: 0%;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: width 0.3s ease-in-out; 
}
