@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p, span, i{
    font-family: 'Montserrat';
  }
 
  button{
    font-family: 'Montserrat';
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: inherit; /* Opcional, faz o botão herdar a cor do texto do elemento pai */
  }
  .clickable{
    cursor: pointer;
  }


  html, body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
  }
  
  .tab-container {
    display: flex; /* Ativa o flexbox */
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.6); /* Fundo preto com 60% de opacidade */
    border-radius: 5px;
    padding: 15px;
    width: 85%; /* Faz a caixa preencher 80% da largura da tela */
    color: white; /* Cor do texto branco para contraste */
   
    cursor: grab;
  
  }
  
  .header {
    display: flex;
    flex-direction: column;
    overflow: visible;
    width: 100%;
    height: 80%; /* Ajuste conforme necessário */
  }
  
  
  
  .play-box {
    display: flex;
    flex-direction: column;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  
  .button-box {
    display: flex;
    align-items: center;
    margin-bottom: 13px;
  }
  
  
  
  
  
  .start-animation {
    color: white;
    font-size: 25px; /* Tamanho do ícone */
    cursor: pointer;
    padding: 0px;
  }

  .current-month{
    font-size: 16px;
  }

  
  @media (max-width: 360px) {
    .current-month{
      font-size: 14px;
    }
  }
    
  @media (max-width: 310px) {
    .current-month{
      font-size: 12px;
    }
  }


  
  .time-box {
    color: #fff; /* Texto branco para contraste */
    text-align: center; /* Centraliza o texto */
    margin-bottom: 15px;
  }
  
  .day-shift{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    width: 100%;
  }
  
  
  .timeline {
    flex-grow: 1;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.3);
    position: relative;
    align-content: center;
  }
  
  .week1{
    margin: 0px 0px 0px 23px;
  }
  
  .week2{
    margin: 0px 20px 0px 14px;
  }
  .week3{
    margin: 0px 20px 0px -6px;
  }
  .week4{
    margin: 0px 10px 0px -6px;
  }
  
  
  .timeline-marker {
    position: absolute;
    left: -14px;
  }
  
  .circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.3);
    transform: translateY(-50%);
  }
  
  .selected .circle{
    background-color: #9D4B6B;
    border: 2px solid #9D4B6B;
  }
  
  .older-event .circle{
    border-color: #9D4B6B;
    
  }
  
  
  .week-text{
    font-size: 12px;
    color: white;
    margin: 0px;
  }
  
  .filling-line{
    background-color: #9D4B6B;
    height: 2px;
    width: 0%;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: width 0.3s ease-in-out; 
  }
  
  
 /*painel dos raios solares*/

  .div-sunDirection {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4); /* Fundo preto com 40% de opacidade */
    right: 3%;
    align-items: center;
    top: 20px; /* Definir a altura da div */
    z-index: 1000;
    width: 220px;
    padding:10px;
    border-radius: 5px;
    justify-content: center; /* Alinhar itens verticalmente ao centro */
    transition: width 0.3s ease; /* Transição suave para mudança de largura */
  }

  .seasons {
    display: flex; /* Usar flexbox para alinhar o texto e o ícone */
    justify-content: space-between; /* Espaçar elementos ao máximo */
    align-items: flex-start; /* Alinhar itens verticalmente ao centro */
    width: 100%; /* Ocupa toda a largura do contêiner pai */
  }

  .seasons-panel {
    display: flex; /* Usar flexbox para alinhar o texto e o ícone */
    justify-content: center; /* Espaçar elementos ao máximo */
    align-items: center; /* Alinhar itens verticalmente ao centro */
    width: 100%; /* Ocupa toda a largura do contêiner pai */
  }


#earth-display {
    display: flex;
    position: relative;
    align-items: center;
    justify-content:end;
  }

  #arrows-sundirection {
    width: 80px;
    margin-right: -30px;
  }
  
  
  #earth-image {
    width: 111px;
    /* animation: rotate 10s linear infinite; */
  }
  .clickable-zone {
    position: absolute;
    top: 0%; /* Ajuste conforme necessário */
    left: 30%; /* Ajuste conforme necessário */
    width: 60px; /* Ajuste conforme necessário */
    height: 50px; /* Ajuste conforme necessário */
    cursor: pointer;
    z-index: 20;
}

 
  #shadow-earth {
    width: 55px;
    position: absolute;
  }

  #person{
    position: absolute;
    right: 41px;
    top: 7px;
    width: 30px;
  }
  .clickable{
    cursor: pointer;
  }
  
  /* @keyframes rotate {
    0% {
      transform: rotate(23.5deg);
    }
    50% {
      transform: rotate(-23.5deg);
    }
    100% {
      transform: rotate(23.5deg);
    }
  } */
  


.div-sunDirection.reduced {
    width: 40px; /* Largura reduzida */
    padding: 5px; /* Menos padding */
    height: auto; /* Mantém a altura automática */
  }
  
  .div-sunDirection.reduced .text{
    padding: 11px;
    align-self: center;
    
  }
  
  .div-sunDirection.reduced .title {
    font-size: 16px;
  }
  
  .div-sunDirection.reduced .title {
    writing-mode: vertical-rl; /* Define o texto para vertical da direita para a esquerda */
    text-orientation: mixed; /* Permite que o texto seja mostrado corretamente em navegadores compatíveis */
  }
  
  .div-sunDirection.reduced .space,
  .div-sunDirection.reduced .seasons-panel {
    display: none; /* Esconder conteúdo não necessário */
  }
  
  .div-sunDirection.reduced .seasons {
    width: 100%; /* Ocupa toda a largura do contêiner pai */
    writing-mode: vertical-rl; /* Texto vertical da direita para a esquerda */
    transform: rotate(180deg); /* Rotacionar texto para ler normalmente */
  }
  
  
  .title {
    font-size: 12px;
    font-weight: 500;
    color:#ffffff;
    margin-block-start: 0px; 
    margin-block-end: 4px;
  }
  

  .icon {
    cursor:pointer;
    margin-left: 10px; /* Espaço entre o texto e o ícone */
    width: 25px;
  }



 

  .circle-back {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo preto com 60% de opacidade */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all 0.3s;
    position: absolute; /* ou 'fixed' para posição fixa na tela */
    top: 20px; /* Distância do fundo */
    left: 20px; /* Distância da esquerda */
  }



.round-button {
  border-color: rgba(255, 255, 255, 0.5);
  border-width: 1px;
  border-radius: 50%;
  border-style: solid; /* Adiciona esta linha para definir o estilo da borda */
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0px;
}


.round-button i {
  font-size: 15px;
  color: white;
}


/*popup*/
.cloudy-overlay {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Fundo preto com 40% de opacidade */
  z-index: 1000; /* Colocar a overlay acima de todo o conteúdo dentro da div-sunDirection */
  display: flex;
  justify-content: center;
  align-items: flex-end;

  border-radius: 5px;
}

/* Estilos para a imagem centralizada */
.garden-image {
  width: 90%; /* Defina a largura desejada */
  height: 70%; /* Defina a altura desejada */
  background-image: url('../assets/seasons-display/inclination-garden.png'); /* Defina o caminho da imagem */
  background-size: cover; /* Garante que a imagem cubra toda a div */
  background-position: center; /* Centraliza a imagem na div */
  position: absolute; 
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: end;
  overflow-y:hidden; 
  overflow-x:hidden; 

  bottom: 10px;
}
/* Estilos para o ícone de cruz */
.close-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
  cursor: pointer;
  z-index: 10;
}

.down-arrow {
  display: inline-block;
  margin: -35px;
  margin-bottom: 20px;
  width: 15px;
  height: 15px;
  border-top: 2px solid #F7B719;
  border-left: 2px solid #F7B719;
  transform-origin: center;
}
.down-arrow {
  transform: rotate(-68.3deg);  /* -45-23.3=-68.3 Inverno, até -135+23.3= -111.7 Verão */
}
.down-arrow::after {
  content: "";
  display: block;
  width: 2px;
  height: 311px;
  background-color: #F7B719;
  transform: rotate(-45deg) translate(109px, 42px);
}




/*btn info e onboarding*/
.btns-info {
  position: absolute;
  bottom: 150px;
  flex-direction: column;
  right: 10px;
  display: flex;
  right:20px;
}

.btns-info .onBoarding-btn, .btns-info .info-btn {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.6); /* Background color for the circles */
  border-radius: 50%;
  display: flex;
  align-items: center;
  z-index: 1000;
  justify-content: center;
  color: #ffffff; /* Icon color */
  cursor: pointer;
  margin-bottom: 10px; /* Space between the buttons */

  
}