p{
  font-family: 'Montserrat';
}
span{
  font-family: 'Montserrat';
}
i{
  font-family: 'Montserrat';
}
button{
  font-family: 'Montserrat';
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  margin: 0;
  color: inherit; /* Opcional, faz o botão herdar a cor do texto do elemento pai */
}
.circle-back {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo preto com 60% de opacidade */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 0.3s;
  position: absolute; /* ou 'fixed' para posição fixa na tela */
  bottom: 20px; /* Distância do fundo */
  left: 20px; /* Distância da esquerda */
  z-index: 1000; /* Assegura que fique no topo */
}


.day-shift{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-around;
  border-radius: 10px;
  width: 100%;

}


/* painel das fases da Lua */
.div-com-fundo {
  position: fixed; 
  display: flex;
  flex-direction: column; /* Organizar os itens em coluna */
  align-items: center; /* Alinhar itens horizontalmente ao centro */
  justify-content: center; /* Alinhar itens verticalmente ao centro */
  z-index: 1000;
  right: 20px;
  bottom: 20px; /* Definir a altura da div */
  width: 200px; /* Largura adequada para o conteúdo */
  height: auto; /* Altura automática para ajustar ao conteúdo */
  padding: 10px; /* Adicionar algum padding */
  background-color: rgba(0, 0, 0, 0.4); /* Fundo preto com 40% de opacidade */
  border-radius: 5px;
  background-size: cover; /* Cobrir toda a div */
  background-position: center; /* Centralizar o fundo */
}

.moonphases {
  align-self: flex-start; /* Alinhar à esquerda */
  width: 100%; /* Ocupa toda a largura do contêiner pai */
}

.image-container {
  position: relative; /* Contêiner relativo para posicionamento absoluto das imagens internas */
  display: flex; /* Usar flexbox para centralização */
  justify-content: center; /* Centralizar horizontalmente */
  width: 100%;
}

#binoculos {
  width: 100%; /* Ocupa 70% da largura do contêiner */
  height: auto; 
}

#moon-phase-image-bright {
  position: absolute; /* Posição absoluta em relação ao contêiner */
  top: 50%; /* Centralizar verticalmente */
  left: 50%; /* Centralizar horizontalmente */
  transform: translate(-50%, -50%); /* Ajuste de centralização */
  width: 40%; 
  height: auto; 
}



.moon-phases-panel {
  position: fixed; 
  display: flex;
  z-index: 1000;
  right: 20px;
  bottom: 20px;
  width: 200px;
  height: auto;
  background-color: rgba(0, 0, 0);
  border-radius: 8px;
}

.profile-panel{
  position: fixed;
  z-index: 2;
  width: 300px;
  height: 200px;
  background-color: rgba(0, 0, 0);
  top: 00px;
  left: 0;
  border-radius: 8px;
}



#moon-phase{

  width: 100%; /* Ocupa toda a largura do contêiner */
  height: auto; /* Altura automática para manter a proporção */
  filter: brightness(100%);
  border-radius: 5px;
  position: absolute;
}





#moon-phase-image-dark {
  position: absolute; /* Posicionamento absoluto dentro do contêiner relativo */
  top: 0;
  left: 0;
  width: 100%; /* Ocupa toda a largura do contêiner */
  height: auto; /* Altura automática para manter a proporção */
  filter: brightness(30%);
  clip-path: ellipse(50% 100% at 50% 50%);
}



/* menu */

.clickable {
  cursor: pointer;
}




.tabs {
  display: flex;
  justify-content: center; /* Centraliza as abas horizontalmente */
  color: white;
  background-color: #333333;
  border-radius: 5px;
  width: 100%; /* Usa toda a largura disponível */
}

.tab-button {
  background-color: inherit;
  float: left;
  border: none;
  color: #ffffff;
  font-size: medium;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  padding: 8px 40px;
  transition: 0.3s;
  width: 100%;
}

.tab-button:hover {
  background-color: #000000;
  width: 100%;
}
/* Estilo quando a aba está ativa */
.active-tab, .tab-button:hover {
  background-color: #000000;
  width: 100%;
  color: #ffffff;
}

/* Box do Tempo*/

.tab-content {
  margin-top: 40px;
  margin-bottom: 15px;
  display: none;
  align-self: center;
  width: 50%;
  border-top: none;
}

.play-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #000;
  border-radius: 10px;
  width: 100%;
  position: relative; /* Adicionado para servir como referência de posicionamento */
}

.button-box {
  display: flex;
  justify-content: center;
  position: absolute; /* Modificado para posicionamento absoluto */
  
  top: -25px; /* Metade fora, ajuste conforme necessário */
  left: 50%; /* Centraliza horizontalmente */
  transform: translateX(-50%); /* Ajuste fino para centralização */
  z-index: 10; /* Garante que fique acima de outros elementos se necessário */
}

.button-box::before {
  content: ""; /* Necessário para que o pseudoelemento seja gerado */
  position: absolute; /* Posicionamento absoluto em relação à "button-box" */
  width: 62px; /* Largura original do botão + 12px */
  height: 62px; /* Altura original do botão + 12px */
  background-color: black; /* Cor de fundo preta */
  border-radius: 50%; /* Torna o elemento um círculo */
  top: 50%; /* Posicionamento centrado */
  left: 50%; /* Posicionamento centrado */
  transform: translate(-50%, -50%); /* Ajuste fino para centralização perfeita */
  z-index: -1; /* Coloca atrás do botão */
}



.start-animation {
  background-color: #9D4B6B; /* Verde */
  color: white;
  border: none;
  border-radius: 50%; /* Faz o botão ser um círculo */
  width: 50px; /* Largura do botão */
  height: 50px; /* Altura do botão */
  font-size: 24px; /* Tamanho do ícone */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-animation:hover {
  background-color: #9D4B6B; /* Verde mais escuro */
}

.time-box {
  padding: 20px;
  padding-bottom: 10px;
  padding-top: 40px;
  color: #fff; /* Texto branco para contraste */
  text-align: center; /* Centraliza o texto */
}

.hour-shift {
  display: flex;
  flex-direction: row; /* Muda para disposição horizontal */
  align-items: center; /* Centraliza os itens verticalmente */
  justify-content: space-around; /* Espaçamento igual entre os itens */ 
  border-radius: 10px;
  width: 100%; /* Usa toda a largura disponível dentro do tab-content */
}







.tab-container {
  display: flex; /* Ativa o flexbox */
  flex-direction: column; /* Organiza os itens em coluna */
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.6); /* Fundo preto com 60% de opacidade */
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  width: 80%; /* Faz a caixa preencher 80% da largura da tela */
  color: white; /* Cor do texto branco para contraste */
  border-top: rgba(255, 255, 255, 0.2)  solid 1px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: grab;

}

.header {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 0px; /* Altura inicial para mostrar apenas a barra dinâmica e o texto */
  transition: height 0.05s; /* Transição suave para quando a altura mudar */
  

}

/* Quando o modal é "expandido" */
.header.expanded {
  display: flex;
  flex-direction: column;
  overflow: visible;
  width: 100%;
  height: 80%; /* Ajuste conforme necessário */
  border-bottom: 2px solid #4C4F50; /* Add a bottom border with a thickness of 2px and black color */
}






.dynamic-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40px;
height: 2px;

  background-color: #D9D9D9;
  border-radius: 5px;
  margin-bottom: 0px;
}



